{
    email {$ACME_EMAIL:admin@example.com}
}

{$DOMAIN:test.jamm.uz} {
    encode gzip zstd

    handle /api/* {
        reverse_proxy backend:3000
    }

    handle /public/* {
        reverse_proxy backend:3000
    }

    handle /uploads/* {
        reverse_proxy backend:3000
    }

    handle {
        reverse_proxy web:80
    }
}
